scgi_local = /tmp/rtorrent.sock

encoding_list = UTF-8
port_range = 49184-49184
port_random = no
check_hash = no
directory = /data/torrents
session = /data/.session
encryption = allow_incoming, try_outgoing, enable_retry
trackers.use_udp.set = yes
dht.mode.set = off
protocol.pex.set = no

min_peers = 1
max_peers = 100
min_peers_seed = 1
max_peers_seed = 50
max_uploads = 15

network.xmlrpc.size_limit.set = 10000000

schedule = watch_directory_new,1,1,"load.start=/watch/*.torrent,d.set_directory=/data/torrent/"
schedule = watch_directory_jap,5,5,"load_start=/watch/jap/*.torrent,d.set_directory=/data/torrent/jap/"
schedule = watch_directory_ipt,5,5,"load_start=/watch/ipt/*.torrent,d.set_directory=/data/torrent/ipt/"
schedule = watch_directory_kor,5,5,"load_start=/watch/kor/*.torrent,d.set_directory=/data/torrent/kor/"
schedule = scgi_permission,0,0,"execute.nothrow=chmod,\"g+w,o=\",/tmp/rtorrent.sock"
schedule = insufficient_disk_space,1,30,close_low_diskspace=500M

method.set_key=event.download.inserted_new,loaded_time,"d.custom.set=addtime,$cat=$system.time=;d.save_full_session="
